:root {
    --color-black: #000000;
    --color-gray: #333333;
    --color-light: #E5E5E5;
    --color-white: #ffffff;
    --color-logo: #F13C6E;
    --color-footer: #828282;
    --container-width: 1110px;
    --gap: 20px;
    --gap-xs: 10px;
    --gap-sm: 15px;
    --gap-lg: 30px;
    --gap-xl: 40px;
  
    --font-family: "Roboto", sans-serif;
    --font-size: 16px;
  }  

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-family);
    font-size: var(--font-size);
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 0.875rem;
    background-color: var(--color-light);
    color: var(--color-gray)
}

.btn {
    font-size: 0.875rem;
    color: var(--color-black);
    border-radius: 40px;
    border-width: 2px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    height: 40px;
    padding: 0.25em 1em;
    letter-spacing: 0.05em;
}

 .btn-first {
    background-color: var(--color-white);
    border-color: var(--color-logo);
 }

 .btn-second {
    background-color: var(--color-logo);
    border-color: var(--color-white);
    color: var(--color-white);
 }

 .btn-sm {
    min-width: 130px;
    height: 35px;
    background-color: var(--color-logo);
    border-color: var(--color-logo);
    color: var(--color-white);
}

.our-shops__button {
    height: 35px;
}

.container {
    width: min(100% - var(--gap) * 2, var(--container-width));
    margin-inline: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.navbar-secondary {
    min-height: 50px;
    display: flex;
    align-items: center;
}

.navbar-secondary__list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 10px;
}

.navbar-secondary__link {
    display: block;
    padding: 7px 10px;
}

.navbar-info {
    background-color: var(--color-white);
    margin-bottom: 1px;
    padding: var(--gap);
}

.navbar-info__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__link {
    display: flex;
    align-items: center;
    gap:var(--gap);
}

.logo__title {
    color: var(--color-logo) ;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.16em;
    letter-spacing: 0.1em;
}

.feedback {
    display: flex;
    gap: var(--gap-xl);
    align-items: center;
}

.feedback__phone {
    font-size: var(--font-size);
    line-height: 1.187em;
}

.navbar-primary {
    min-height: 80px;
    display: flex;
    align-items: center;
    background-color: var(--color-white);
}

.navbar-primary__list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 20px;
}

.navbar-primary__link {
    display: block;
    padding: 7px 10px;
    color: var(--color-black);
    font-size: var(--font-size);
}

.hero {
    background-image: url(./pages/chair.png);
    background-color: var(--color-logo);
    background-repeat: no-repeat;
    color: var(--color-white);
    padding: 192px 0;
    background-size: contain;
    background-position: 80% 50%;
    margin-bottom: 80px;
}

.hero__content {
    display: flex;
    gap: 40px;
    flex-direction: column;
    max-width: 375px;
    align-items: flex-start;
}

.hero__title {
    line-height: 1.16em;
    margin: 0;
    font-size: 3.5em;
}

.hero__description {
    line-height: 1.43em;
    margin-bottom: 5px;
}

.hero__actions {
    display: flex;
}

.offers {
    margin-bottom: 100px;
}

.offers__title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.1em;
    color: var(--color-black);
    margin-bottom: 35px;
}

.offers__content {
    display: flex;
    gap: var(--gap-lg); 
}


.offer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    padding: 25px;
    gap: var(--gap);
    flex: 1;
    text-align: center;
}

.offer-item__title {
    font-size: 0.875rem;
    line-height: 1.43em;
    font-weight: 400;
    color: var(--color-gray);
}

.offer-item__picture {
    order:-1;
}

.offer-item__price {
    font-weight: 500;
    font-size: 1.31rem;
    line-height: 1.19em;
    letter-spacing: 0.05em;
    color: var(--color-black);
}

.submit {
    margin-bottom: 100px;
}

.submit__content {
    display: flex;
    gap: var(--gap-lg);
}

.subscribe {
    color: var(--color-white);
    background-color: var(--color-logo);
    background-image: url(./pages/mail.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 45px) 50%;
    flex: 1;
    padding: 35px 40px;
}

.subscribe__title {
    font-weight: 700;
    font-size: 1.13rem;
    line-height: 1.17em;
}

.subscribe__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 265px;
}

.subscribe__description {
    line-height: 1.43em;
}

.subscribe__form {
    max-width: 225px;
}

.subscribe__input {
    padding: 0.25em 1em;
    display: block;
    width: 100%;
    border-radius: 30px;
    border: none;
    height: 35px;
}

.subscribe__input::placeholder {
    color: #c4c4c4;
  }

.our-shops {
    background-color: var(--color-logo);
    color: var(--color-white);
    background-image: url(./pages/car.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 45px) 50%;
    flex: 1;
    padding: 35px 40px;
}

.our-shops__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 250px;
}

.our-shops__title {
    font-weight: 700;
    font-size: 1.13rem;
    line-height: 1.17em;
}

.our-shops__description {
    line-height: 1.43em;
}

.our-shops__actions {
    display: flex;
}

.brands {
    margin-bottom: 80px;
}

.brands__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.brands-item {
    background-color: var(--color-white);
    padding: 35px;
    text-align: center;
}

.footer {
    background-color: var(--color-white);
}

.category {
    display: flex;     
    gap: var(--gap-lg);

}
.category__box {
    flex: 1;
    max-width: 255px;
}

.category__title {
    width: 100px;
    padding-top: 60px;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.375em;
    color: var(--color-black);
}

.category__list {
    list-style: none;
}

.category__link {
    font-style: normal;
    font-size: 0.75rem;
    line-height: 2.33em;
    color: var(--color-footer);
}

.category__list-box {
    padding-top:  25px;
    padding-bottom: 60px;
}

.category__title-box {
    border-bottom: 1px solid var(--color-light);
}

.footer-contacts {
    background-color: var(--color-white);
    border-top: 1px solid var(--color-light);
}

.footer-contacts__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 120px;
}

.footer-contacts {
    display: flex;
}

.social-contacts__item {
    display: flex;
    list-style: none;
    gap: var(--gap);
}

.license__description {
    display: flex;
    justify-content: space-between;
}

.license {
    display: flex;
    justify-content: space-between;
    min-height: 64px;
    font-size: 0.75rem;
    line-height: 1.66em;
    color: var(--color-footer);
    align-items: center
}